/* All Parameters */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}


/*----------------- Navigation Bar -----------------*/
/*  [1] - Home */
.navbar {
    z-index: 3;
}

.background-nav {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background: url(../images/navbar/nav-img.jpg);
}
.navbar-title {
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    font-size: 25px;
}
/* [2] - Info-Home */
.info-home {
    margin-top: 100px;
    line-height: 2.5;
    width: 100%;
}
.info-title {
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    border: 4px solid #9b1b9b;
    text-align: center;
    padding: 20px;
}
.info-title,.info-para,.info-btn {
    margin-bottom: 40px;
}
.info-para {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    border: 4px solid #599b1b;
    text-align: center;
    padding: 20px;
}
.info-btn {
    width: 150px;
    font-size: 20px;
    background:none;
    color: black;
    margin-bottom: 25px;
}
.web-links  {
    margin-top:20px;
    display: flex;
    justify-content: space-between;
    width: 40%;
    float: right;
    margin-top: -4px;
}
.info-links {
    color: black;
    transition: 0.2s color ease-in-out;
}
.info-links:hover{
    color: rgb(197, 130, 30);
}
/* [2] - About -- */

.about {
    background: url(../images/about/about-img.jpg) no-repeat left;
    background-size: 75%;
    background-color: rgba(100, 95, 87, 0.356);
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    overflow: hidden;
}

.inner-section {
    width: 55%;
    float: right;
    margin-top: 150px;
    background-color: blanchedalmond;
    padding: 140px;
    box-shadow: 10px 10px 8px rgba(0,0,0,0.3);
}
.inner-section h1 {
    margin-bottom: 30px;
}
.para-about {
     font-size: 13px;
     color: seagreen;
     line-height: 30px;
     text-align: justify;
     margin-bottom: 40px;
}
.skills button {
    font-size: 22px;
    text-align: center;
    letter-spacing: 2px;
    border: none;
    border-radius: 20px;
    padding: 8px;
    width: 200px;
    background-color:#599b1b ;
    color: white;
    cursor: pointer;
}
.skills button:hover{
    transition: 1s;
    background-color: #ecf5f5;
    color: #00999c;
}
@media screen and (max-width:1200px){
    .inner-section{
        padding: 80px;
    }
}
@media screen and (max-width:1000px){
    .about {
        background-size: cover;
        padding: 100px 40px;
    }
    .inner-section{
        width: 100%;
    }
}
@media screen and (max-width:600px){
    .about {
     padding: 0px;
     background-image: none;
     background-color: white;
     margin-top: -91px;
 }
    .inner-section{
        padding: 60px;
    }
    .skills button {
        font-size: 19px;
        padding: 5px;
        width:160px ;
    }
}

/* [3] - Project */
.project {
    background:url(../images/project/project-img-backgorund.jpg);
    background-size: cover;
    width: 100%;
    padding: 50px 0 80px 0;
}
.two-projects {
    display: flex;
    justify-content: space-between;
}
.title-project {
    letter-spacing: 15px;
    padding-bottom: 40px;
    font-weight: bolder;
    color: rebeccapurple;
}
.principal-project {
    background: url(../images/project/project-1.jpg);
}
.second-project {
    background: url(../images/project/project-2.jpg);
}
.principal-project,.second-project{
    position: relative;
    background-size: cover;
    background-position: center;
    width: 49%;
    justify-content: space-between;
    height: 450px;
}
.para-principal-project,.para-second-project {
    position: absolute;
    bottom: 0;
    width:100%;
    min-height: 70px;
    background:rgb(241, 171, 171);
    text-align: center;
    margin: 0 ;
    letter-spacing: 2px;
    max-height: 480px;
}
.btn-project {
    backgorund:black;
    position: absolute;
    bottom: -60px;
    margin-left: 15px;
    height: 50px;
    width: 170px;
    font-weight: bolder;
    transition: 0.2s background-color ease-in-out;
}
.btn-project:hover{
    background-color: rgb(160, 118, 118);
}
/* [4] - Contact Me */
.contact {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.contact:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width:100%;
    height: 100%;
    background: url(../images/contact/contact-background.png) no-repeat center;
    background-size: cover;
    z-index: -1;
}
.contact-box {
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0,0, 0, 0.19);
}
.left {
    height: 100%;
    background: url(../images/contact/contact-img.jpg) no-repeat center;
    background-size: cover;
}
.right {
    padding: 25px 40px;
}
.title-contact {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 30px;
}
.title-contact:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius:2px ;
    background-color: #2ecc71;
}
.field {
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: rgba(230,230,230,0.6);
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0);
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
}
.field:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.field:focus {
    background-color: #fff;
    border: 2px solid rgba(30, 85, 250, 0.47);
}
.btn-contact {
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    background-color: #2ecc71;
    cursor: pointer;
    outline: none;
    border: none;
    color: #fff;
    transition: .3s;
}
.btn-contact:hover {
    color: black;
}
